:root {
    --accent-hue: 34;
    --accent-saturation: 100%;
    --accent-light-base: 50%;
    --accent-light-hover: 56%;
    --accent-light-active: 62%;
    --accent-light-border: 68%;

    --accent-color:                    hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-base));
    --half-accent-color:               hsla(var(--accent-hue), var(--accent-saturation), var(--accent-light-base), 50%);
    --bg-color:                        hsl(0, 0%, 15%);
    --header-color:                    hsl(0, 0%, 21%);
    --text-color:                      hsl(0, 0%, 90%);
    --text-wrong-color:                hsl(5, 100%, 60%);
    --text-minor-color:                hsl(0, 0%, 80%);
    --panel-color:                     hsl(0, 0%, 21%);
    --x-panel-color:                   hsl(0, 0%, 17%);
    --textfield-color:                 hsl(0, 0%, 15%);
    --textfield-input-color:           hsl(0, 0%, 5%);
    --submit-btn-color:                hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-base));
    --submit-btn-hover-color:          hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-hover));
    --submit-btn-click-color:          hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-active));
    --btn-color:                       var(--x-panel-color);
    --btn-hover-color:                 var(--accent-color);
    --btn-click-color:                 hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-active));
    --checkbox-unchecked-color:        hsl(0, 0%, 10%);
    --checkbox-unchecked-hover-color:  hsl(0, 0%, 15%);
    --checkbox-unchecked-active-color: hsl(0, 0%, 20%);
    --checkbox-unchecked-border-color: hsl(0, 0%, 30%);
    --checkbox-checked-color:          hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-base));
    --checkbox-checked-hover-color:    hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-hover));
    --checkbox-checked-active-color:   hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-active));
    --checkbox-checked-border-color:   hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-border));

    --graph-bg-color:                  hsl(0, 0%, 5%);
    --graph-border-color:              hsl(0, 0%, 20%);
    --graph-axes-color:                hsl(0, 0%, 90%);
    --graph-axes-width:                0.2;
    --graph-text-color:                var(--text-color);
    --graph-area-color:                hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-base));
    --graph-area-border-color:         hsl(var(--accent-hue), var(--accent-saturation), var(--accent-light-border));
    --graph-area-border-width:         0.2;
    --graph-hit:                       white;
    --graph-no-hit:                    red;

    --table-head-bg-color:             var(--accent-color);
    --table-head-color:                var(--text-color);
    --table-border-color:              hsl(0, 0%, 90%);
    --table-border-second-color:       hsla(0, 0%, 90%, 20%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.inverse_selected::selection {
    background-color: var(--text-color);
    color: var(--accent-color);
}

.header {
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    background-color: var(--header-color);
    margin: 0;
    border-bottom: 2px solid var(--accent-color);
}
.header p {
    margin: 0;
}
#group_label, #variant_label {
    font-weight: normal;
    color: var(--text-minor-color);
}
#variant_label {
    font-size: .6em;
    font-style: italic;
}
div.main {
    margin: 0;
    padding: 16px 5%;
}

#timer {
    font-weight: bold;
    align-self: center;
    color: white;
}

.link_to_main {
    font-weight: bolder;
    align-self: center;
    height: 3em;
    color: var(--text-color);
    background-color: var(--btn-color);
    border-width: 0;
    border-radius: 4px;
    transition: .2s;
    text-decoration: none;
}

.link_to_main:hover {
    background-color: var(--btn-hover-color);
}

.link_to_main:active {
    background-color: var(--btn-click-color);
}

.username_label {
    font-size: 0.75em;
    font-weight: normal;
    color: var(--text-color);
}

.username_label > span {
    font-weight: bold;
    color: var(--accent-color);
}

.username_label > input {
    font-weight: bold;
    color: var(--text-color);
    transition: .2s;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 0.2em;
    margin: 0 2em;
    background-color: transparent;
}

.username_label > input:hover {
    background-color: var(--half-accent-color);
}

.username_label > input:active {
    border-color: var(--accent-color);
}

div.top_panel {
    display: grid;
}

/*-------------------------------------*/

.form_panel {
    background-color: var(--panel-color);
    border-radius: 4px;
    width: auto;
    display: grid;
}

.form_panel > div {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_label > span {
    font-weight: bolder;
    padding: 0;
    margin: 0;
    align-content: center;
}

.submit_button {
    height: 3em;
    color: var(--text-color);
    background-color: var(--accent-color);
    border-width: 0;
    border-radius: 4px;
    font-weight: bolder;
    padding: 0;
    font-size: inherit;

    align-items: stretch;
    justify-content: stretch;

    transition: .2s;
}
.submit_button:hover {
    background-color: var(--submit-btn-hover-color);
}
.submit_button:active {
    background-color: var(--submit-btn-click-color);
}

.submit_button input {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.text_field input {
    height: 3em;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    color: var(--text-color);
    background-color: var(--textfield-color);
    border-radius: 4px;
    border: 2px solid var(--textfield-color);
    box-shadow: none;
    padding: 0 1em;

    transition: .2s;
}
.text_field input:focus {
    border-color: var(--accent-color);
    background-color: var(--textfield-input-color);
    outline-style: none;
}

#the_form_panel {
    --show-x-error: hidden;
    --show-y-error: hidden;
    --show-r-error: hidden;
}

.text_field {
    flex-direction: column;
}

.text_field::after {
    height: 0;
    width: 100%;
    font-size: 0.6em;
    color: var(--text-wrong-color);
}
.text_field#text_field_y::after {
    visibility: var(--show-y-error);
    content: "Значение должно быть числом от −3 до 5";
}

#x_checkbox_panel, #r_checkbox_panel, #img_r_button_panel{
    background-color: var(--x-panel-color);
    border-radius: 4px;
    flex-direction: column;
    --show-x-error: hidden;
}
#x_checkbox_panel::after, #r_checkbox_panel::after {
    height: 0;
    width: 100%;
    font-size: 0.6em;
    color: var(--text-wrong-color);
}

#x_checkbox_panel::after {
    visibility: var(--show-x-error);
    content: "Нужно выбрать хотя бы одно значение для X";
}

#r_checkbox_panel::after {
    visibility: var(--show-r-error);
    content: "Нужно выбрать хотя бы одно значение для R";
}

#x_checkbox_panel > div, #r_checkbox_panel > div, #img_r_button_panel > div {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    height: 100%;
}

#x_checkbox_panel > div > div, #r_checkbox_panel > div > div, #img_r_button_panel > div > div {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#x_checkbox_panel label, #r_checkbox_panel label, #img_r_button_panel label {
    vertical-align: middle;
    padding-left: 6px;
    font-weight: bold;
}

#x_checkbox_panel input, #r_checkbox_panel input, #img_r_button_panel input {
    vertical-align: middle;
}

#img_r_button_panel input {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: inherit;
    width: 100%;
    height: 2em;
    margin: 0 0.5em;
    color: var(--text-color);
    background-color: var(--btn-color);
    border-radius: 4px;
    border-width: 0;
    transition: .2s;
}

#img_r_button_panel input:hover {
    background-color: var(--btn-hover-color);
}

#img_r_button_panel input:active {
    background-color: var(--btn-click-color);
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: inherit;
    width: 1em;
    height: 1em;
    color: var(--text-color);
    background-color: var(--checkbox-unchecked-color);
    border: 2px solid var(--checkbox-unchecked-border-color);
    border-radius: 2px;
    background-size: 80%;
    transition: .2s;
    margin: 3px 3px 3px 5px;
}
input[type="checkbox"]:hover {
    background-color: var(--checkbox-unchecked-hover-color);
}
input[type="checkbox"]:active {
    background-color: var(--checkbox-unchecked-active-color);
}
input[type="checkbox"]:checked {
    background-color: var(--checkbox-checked-color);
    border-color: var(--checkbox-checked-border-color);
    background-image: url(./tick.svg);
    background-repeat: no-repeat;
    background-position: center;
}
input[type="checkbox"]:checked:hover {
    background-color: var(--checkbox-checked-hover-color);
}
input[type="checkbox"]:checked:active {
    background-color: var(--checkbox-checked-active-color);
}

#graph {
    background-color: var(--graph-bg-color);
    border: 2px solid var(--graph-border-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#the_image {
    cursor: crosshair;
}

.table_panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#result_table {
    border-collapse: collapse;
    border: 2px solid var(--table-border-color);
}
#result_table thead td {
    text-align: center;
    background-color: var(--table-head-bg-color);
    border: 1px solid var(--table-border-color);
    color: var(--table-head-color);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 1em;
}
#result_table tbody td {
    border-top: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-second-color);
    border-left: 1px solid var(--table-border-second-color);
    padding: 0.5em 1em;
    text-align: center;
}
#result_table + p {
    width: 90%;
    font-size: 80%;
    color: var(--text-minor-color);
}
#result_table .no_queries {
    font-style: italic;
    color: var(--text-minor-color);
}

.link_panel {
    margin: 2em 10%;
    border-radius: 4px;
    background-color: var(--panel-color);
    font: inherit;
    padding: 1em 2em;
}

.link_panel > a {
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: none;
}

.link_panel > a:hover {
    text-decoration: var(--accent-color) underline;
}

.welcome_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form {
    width: max(40%, 400px);
    --show-username-error: hidden;
    --show-password-error: hidden;
    --text-username-error: "Пользователь с этим именем уже существует";
    --text-password-error: "Пароль должен содержать не менее 4-х символов";
}

#login_form > div {
    background-color: var(--panel-color);
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#login_form > div > div {
    margin: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_field#password_field::after {
    visibility: var(--show-password-error);
    content: var(--text-password-error);
}
.text_field#username_field::after {
    visibility: var(--show-username-error);
    content: var(--text-username-error);
}

@media screen and (min-width: 1103px) {
    body {
        font-size: 16px;
    }
    .header {
        padding: 1em 2em;
    }
    #timer {
        font-size: 32px;
        margin: 16px;
    }
    .link_to_main {
        font-size: 32px;
        margin: 16px;
        padding: 8px;
    }
    div.top_panel {
        padding: 0 5%;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
    }
    .form_panel {
        margin: 32px;
        padding: 24px;
        grid-template-columns: 1fr 9fr;
        grid-template-rows: repeat(4, 3em);
        gap: 16px;
    }
    .submit_button {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .table_panel {
        margin: 32px;
    }
    #result_table {
        width: 90%;
    }
}

@media screen and (min-width: 758px) and (max-width: 1102px) {
    body {
        font-size: 12px;
    }
    .header {
        padding: 1em 1em;
    }
    #timer {
        font-size: 24px;
        margin: 12px;
    }
    .link_to_main {
        font-size: 24px;
        margin: 12px;
        padding: 6px;
    }
    div.top_panel {
        padding: 0 5%;
        grid-template-columns: 1fr;
        column-gap: 16px;
    }
    .form_panel {
        margin: 24px;
        padding: 18px;
        grid-template-columns: 1fr 9fr;
        grid-template-rows: repeat(4, 3em);
        gap: 12px;
    }
    .submit_button {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .table_panel {
        margin: 20px;
    }
    #result_table {
        overflow: auto;
        width: 90%;
    }
}

@media screen and (max-width: 757px) {
    body {
        font-size: 12px;
    }
    .header {
        padding: 0.5em 0.5em;
    }
    #timer {
        font-size: 20px;
        margin: 12px;
    }
    .link_to_main {
        font-size: 20px;
        margin: 12px;
        padding: 4px;
    }
    div.top_panel {
        padding: 0 5%;
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
    .form_panel {
        margin: 20px;
        padding: 16px;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: repeat(4, 3em);
        gap: 16px;
    }
    .submit_button {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .table_panel {
        margin: 8px;
    }
    #result_table {
        overflow: auto;
        display: block;
        width: 94%;
    }
}
